<h2>Comments</h2>  
  
  <section>
    {{#each this}}
    <div>
      <div>
        Comment created on {{formatDate created_at}}</span>
        {{!-- <p> {{user_id}}</p> --}}
      </div>
      <div>
        <p class="comment">{{comment_text}}</p>
      </div>
    </div>
    {{/each}}
  </section>