<footer>
    <div>
        
    </div>
    <div>
        <span>
        © Copyright 2022 iCocina as presented by Group 2.
        </span>
    </div>
    <div class="logo2">
        <img src="/assets/images/iCocina2.png" alt="Logo" />
    </div>
    
</footer>