<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>iCocina</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="./assets/images/iCocina2.png" alt="Logo" />
        </div>
        <div class="logIn">
            <nav>
                <!-- <img src="./assets/images/profile2.png" id="profile"> 
                <input type="image" src="./assets/images/profile2.png">-->
                <button id="signIn" class="buttons">Login</button>
                <button id="signUp" class="buttons">Sign Up</button>
              
            </nav>
        </div>
    </header>
    <section class="hero">
        <div class= "searchContainer">
            <form class="searchField">
            <div>
            <label for="categories"> Cuisine Type: </label>
                <select name="cuisine" id="cuisine">
                    <option disabled selected value> Choose </option>
                    <option value="Mexican Cuisine">Mexican</option>
                    <option value="Chinese Cuisine">Chinese</option>
                    <option value="Italian cuisine">Mercedes</option>
                    <option value="Indian Cuisine">Indian</option>
                    <option value="Desserts">Desserts</option>
                </select>
                </div>
                <div>
                <label for="difficulty"> Difficulty Level: </label>
                <select name="difficulty" id="difficulty">
                    <option value="Basic">Basic</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Advanced">Advanced</option>
                </select>
                </div>
                <div>
                    <input type="submit" value="Submit" class="buttons">
                    </div>
            </form>            
        </div>
        <!-- Images to be used for slideshow
        <div class="slideshowContainer">
            <img src="./assets/images/dish1.png" class="slides">
            <img src="./assets/images/dish2.png" class="slides">
            <img src="./assets/images/dish3.png" class="slides">
            <img src="./assets/images/dish4.png" class="slides">
            <img src="./assets/images/dish5.png" class="slides">
            <img src="./assets/images/dish6.png" class="slides">
            <img src="./assets/images/dish7.png" class="slides">
            <img src="./assets/images/dish8.png" class="slides">
            <img src="./assets/images/dish9.png" class="slides">
            <img src="./assets/images/dish10.png" class="slide">
            <img src="./assets/images/dish11.png" class="slides">
            <img src="./assets/images/dish12.png" class="slides">
        </div>
    -->
    </section>
    <main class="search">
        
        <h1>Whats For Dinner?</h1>
            <p> Use our innovative online search tool to search thousands of recipes for your next made from scratch, made with love meal. Simply choose a type of cuisine and a difficulty level and get a list of taylored recipes that are fun and yummy to make.</p>
    </main>

    <article>
        <div class="cardSection">
            <div class="cardHolders">
                {{{body}}}
            </div>
        </div>
    </article>

    <footer>

    </footer>
</body>
</html>