<section class="recipe-cards">
    <div id="recipes-container">
        
    </div>
       

    {{#each recipes as |recipe|}}
    <div class="card">
        <div class="card-img">
            <img src={{recipe.image}} alt="receipe-image" />
            <div class="card-body">
                <h3>{{recipe.title}}</h3>
                <h5>Ingredients</h5>
                <p>{{{breaklines recipe.ingredient}}}</p>
                <h5>Instructions</h5>
                <p>{{{breaklines recipe.instruction}}}</p>
            </div>
        </div>
    </div>

    <div class="cardSection">
            <div class="cardHolders">
                
                {{> comment recipe.comments}}



            </div>
    </div>

    {{/each}}

</section>

<script src="/javascript/main.js"></script>
