<section class="recipe-cards">
    <div id="recipes-container">

    </div>

    <div class="card">
        <div class="card-img">
            <img src="{{recipes.image}}" alt="food" />
            <div class="card-body">
                <h3>{{recipes.title}}</h3>
                <h5>Ingredients</h5>
                <p>{{{breaklines recipes.ingredient}}}</p>
                <h5>Instructions</h5>
                <p>{{{breaklines recipes.instruction}}}</p>
            </div>
        </div>
    </div>
    <div></div>
    <div class="commentField">
    <div class="cardHolders">
        
        {{> comment recipes.comments}}
        {{!-- {{> comment users.comments}} --}}
        
    </div>
    <div class="space"></div>

    {{#if loggedIn}}
    
    <div class="commentField">
    <form class="comment-form">
        <div>
            <h2>Comment:</h2>
            <label for="comment"></label>
            <input type="text" name="comment" class="formInput">
        </div>
        <div>
            <button type="submit" class="buttons">submit</button>
        </div>
    </form>
    
    </div>

    {{/if}}
    {{#if loggedIn}}
    <script src="/assets/javascript/comment.js"></script>
    {{/if}}
    </div>

</section>